
<!--<pre>-->
<!--&lt;!&ndash;{{ (asyncMovieList|async)?.data | json}}&ndash;&gt;-->
<!--</pre>-->
<!--<div *ngFor="let movie of (asyncMovieList|async)?.data" >-->
<!--        {{movie.title}} - {{movie.year}}-->
<!--</div>-->

<!--<div *ngFor="let movie of movieList" >-->
<!--        {{movie.title}} - {{movie.year}}-->
<!--</div>-->

<div class="container">
<mat-list>
  @for (movie of movieList; track movie.id)
  {
    <mat-list-item><a [routerLink]="['/movies/', movie.id]">{{ movie.title }}</a> - {{movie.director | uppercase}}</mat-list-item>
  <mat-divider></mat-divider>
  }
</mat-list>

<!--  <div>-->
<!--    <p>{{response.items | json}}</p>-->
<!--  </div>-->
</div>

